@import "colors";


.container.box-padding {
  padding: 100px 0 100px 0;
}
.bmi-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-title__bmi {
  font-family: "Poppins Medium", sans-serif;
  font-size: 2.188rem;
  line-height: 1.5;
  text-align: center;
  color: $black;
  padding: 0 0 15px 0;
}

.bmi-desc {
  font-family: "Poppins Light", sans-serif;
  font-size: 1rem;
  text-align: left;
  padding: 0 0 20px 0;
}

.empty-input-message {
  font-family: "Poppins Light", sans-serif;
  font-size: 1rem;
  color: $red;
  border: 1px solid #dde7fa;
  border-radius: 6px;
  padding: 20px;
  background-color: $white;
  margin-top: 12px;
  text-align: center;
}

.area-input {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-input input {
  background-color: rgba(221, 231, 250, 1);
  color: #202020;
  font-size: 16px;
  height: 46px;
  width: 100%;
  margin-bottom: 12px;
  padding: 20px;
  border: none;
  border-radius: 6px;
  transition: all ease 0.2s;
}

.area-input input::placeholder {
  color: $secondary;
}

.area-input input:hover {
  background-color: rgba(221, 231, 250, 1);
}

.area-input button {
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgba(221, 231, 250, 1);
  color: $secondary;
  border: 1px solid $btn-border;
  border-radius: 40px;
  padding: 12px 25px;
  font-family: "Poppins SemiBold" , sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  transition: all .2s;
  cursor: pointer;
  width: 100%;
}

.bmi-answer {
  display: flex;
  gap: 50px;
  align-items: center;
  font-family: "Poppins Light", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  border: 1px solid #dde7fa;
  border-radius: 6px;
  padding: 20px;
  background-color: $white;
  margin-top: 12px;
}

.bmi-value {
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 2rem;
}

@media (max-width: 500px) {
  .area-input {
    width: 300px;
  }
}