@import "colors";

.calendar-wrapper {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: left;
  align-items: flex-end;
  @media screen and (max-width: 1366px) {
    flex-wrap: wrap;
  }


  .calendar {
    background-color: $white;
    border: 1px solid $border-cta;
    padding: 30px 5px 3px;
    border-radius: 6px;

    .calendar-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: $white;
      color: $black;
      font-family: "Poppins Medium", sans-serif;

      .calendar-nav-btn {
        border: none;
        background: none;
        font-size: 16px;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #555;
        }
      }
    }

    .days {
      grid-gap: 4px;
      display: grid;
      gap: 4px;
      grid-template-columns: repeat(7,minmax(50px,65px));
      grid-template-rows: minmax(50px,65px);
      margin-bottom: 4px;

      .day.day-header {
        border: none;
        cursor: text;
        color: $black;
      }
      .day.day-header:hover {
        background-color: $white;
        color: $black;
      }

      .day {
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        border: 1px solid #ced3d9;
        display: flex;
        justify-content: center;
        position: relative;
        transition: background,border .2s ease-out;
        font-family: "Poppins SemiBold", sans-serif;
        height: 65px;
        color: $black;


        &.selected {
          background-color: $secondary;
          color: #fff;
        }

        &.past-day {
          background-color: #f2f4f7;
          color: #8fa1b3;;
          cursor: not-allowed;
        }

        &:hover {
          background-color: #f2f4f7;
          border-color: $secondary;
          color: $secondary;
        }
      }

      .empty-day {
        height: 65px;
      }

      .day.past-day {
        border: 1px solid #ced3d9;

      }
    }
  }
}
