$body: #f0f6ff;
$black: #000;
$white: #fff;
$header: #fff;

$secondary: #1947A0;
$red: red;

// Fonts

$btn-main-font: 0.875rem;

// Buttons

$btn-bgc: #1947A0;
$btn-border: #dde7fa;
$btn-text-hover: #fff;

$btn-nav-link-hover: #1947A0;
$btn-nav-link-active: #1947A0;
