@import "colors";

.order-main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.checkbox-order {
  position: absolute;
  display: flex;
  top: -17px;
  left: -17px;
  width: 34px;
  height: 34px;
  border: 1px solid $border-cta;
  padding: 10px;
  border-radius: 50%;
  background-color: $white;
}

.order-title {
  font-family: "Poppins Medium", sans-serif;
  font-size: 2.188rem;
  color: $black;
  text-align: left;
  padding: 0 0 20px 0;

}

.step-title {
  font-family: "Poppins Medium", sans-serif;
  font-size: 1.563rem;
  color: $black;
  padding: 0 0 20px 0;
  text-align: left;
}

.step {
  position: relative;
  width: 100%;
  background-color: $white;
  box-shadow: 0 14px 6px rgba(0, 91, 191, 0.01),
  0 8px 5px rgba(0, 91, 191, 0.04),
  0 4px 4px rgba(0, 91, 191, 0.06),
  0 1px 2px rgba(0, 91, 191, 0.07),
  0 0 32px rgba(0, 91, 191, 0.03);
  background-image: linear-gradient(to top, rgba(248, 251, 255, .9), $white);
  border: 1px solid $white;
  border-radius: 4px;
  padding: 40px;
}

.btns-wrapper__first-step {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.btn-city {
  letter-spacing: 0.5px;
  text-transform: capitalize;
  background-color: rgba(221, 231, 250, 1);
  color: $secondary;
  border: 1px solid $border-cta;
  border-radius: 6px;
  padding: 12px 25px;
  font-family: "Poppins SemiBold" , sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  transition: all .2s;
  cursor: pointer;
}

.btn-city:hover {
  background-color: $white;
  transition: all .2s;
}

.btn-city:focus {
  background-color: $white;
  transition: all .2s;
}

.btn-city.active {
  background-color: $white;
  transition: all .2s;
}

.btn-zamow {
  letter-spacing: 0.5px;
  text-transform: lowercase;
  background-color: rgba(221, 231, 250, 1);
  color: $secondary;
  border: 1px solid $border-cta;
  border-radius: 6px;
  padding: 12px 25px;
  font-family: "Poppins SemiBold" , sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  transition: all .2s;
  cursor: pointer;
}

.btn-zamow:hover {
  background-color: $white;
  transition: all .2s;
}

.btn-zamow:focus {
  background-color: $white;
  transition: all .2s;
}

.btn-zamow.active {
  background-color: $white;
  transition: all .2s;
}

.menu-option-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.menu-col1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  border: 1px solid $border-cta;
  border-radius: 6px;
}

.menu-option-image {
  width: 48px;
  height: 48px;
  align-self: center;
}

.menu-desc {
  font-family: "Poppins SemiBold", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  color: $black;
}

.menu-p__desc {
  font-family: "Poppins Light", sans-serif;
  font-size: 1rem;
  color: $black;
  text-align: left;
}

.menu-image {
  width: 100%;
  max-height: 250px;
  @media screen and (max-width: 768px) {
    max-height: none;
  }
}

.menu-more__desc {
  font-family: "Poppins Light", sans-serif;
  font-size: 0.85rem;
  color: red;
  text-align: center;
  cursor: pointer;
}

.btn-calories {
  letter-spacing: 0.5px;
  text-transform: capitalize;
  background-color: rgba(221, 231, 250, 1);
  color: $secondary;
  border: 1px solid $border-cta;
  border-radius: 6px;
  padding: 12px 25px;
  font-family: "Poppins SemiBold" , sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  transition: all .2s;
  cursor: pointer;
}

.btn-calories:hover {
  background-color: $white;
  transition: all .2s;
}

.btn-calories:focus {
  background-color: $white;
  transition: all .2s;
}

.oder-desc {
  font-family: "Poppins Light", sans-serif;
  font-size: 1rem;
  color: #62748c;
  margin-bottom: 15px;
  text-align: left;
}

.oder-desc__test {
  font-family: "Poppins Light", sans-serif;
  font-size: 1rem;
  color: #62748c;
  margin-bottom: 50px;
  text-align: left;
}