@import "header";
@import "home";
@import "footer";
@import "colors";
@import "buttons";
@import "bmi";
@import "logowanie";
@import "zamowienie";
@import "calendar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  background-color: $body;
  font-size: 1rem;
}





section {
  width: 100%;
  color: $white;
  text-align: center;
}
.container {
  width: 100%;
  max-width: 1366px;
  margin: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}




